/*--------------------------------------------------------------
# Section 4 Elements and styling
--------------------------------------------------------------*/

.section4-block {
  display: block;
  width: 1280px;
  height: 903px;
  background: rgba(29, 225, 244, 0.16);
  position: relative;
}

/*--------------------------------------------------------------
# Top Box of the section 4
--------------------------------------------------------------*/

.ecosystem-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1261.82px;
  height: 796px;
  position: absolute;
  top: 35.19px;
  left: 9px;
  right: 14.18px;
  bottom: 71.81px;
}

.ecosystem-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(130px);
  padding-top: 310px;
}

.ecosystem-top-box {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 932px;
  height: 164px;
  top: 35.19px;
  left: 176px;
  right: 177px;
  bottom: 703.81px;
}

.eco-top-box {
  font-family: Zolina;
  font-size: 23px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  width: 549.04px;
  height: 35px;
  color: rgba(24, 78, 119, 1);
}

.idea-text {
  width: 932px;
  height: 116px;
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 42, 50, 1);


}

/*--------------------------------------------------------------
# Midle Box Get Started Button & My Dev Links
--------------------------------------------------------------*/

.multisystem-box {
  position: absolute;
  top: 387.19px;
  left: 176px;
  right: 748px;
  bottom: 447.81px;
  width: 361px;
  height: 125.57px;
}

.system-text {
  font-family: Inter;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 42, 50, 1);

}

.special-font {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(24, 78, 119, 1);
}

.get-started-button {
  height: 40.57142639160156px;
  width: 152px;
  background: rgba(29, 225, 244, 0.3);
  border-radius: 10.819px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
  cursor: pointer;
}

.get-started-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8476px;
  line-height: 16px;
  color: #0E6CA0;
  width: 142px;
  height: 40.57px;
  text-align: center;
  line-height: 40px;
}

.mydev-box {
  display: block;
  width: 488px;
  height: 432.32px;
  position: absolute;
  top: 234.19px;
  left: 632px;
  right: 165px;
  bottom: 236.49px;
}

.eclypse-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

/*--------------------------------------------------------------
# Bottom Box of the Section 4 (Links,Chat,Tickets etc..)
--------------------------------------------------------------*/

.bottom-box-container {
  position: absolute;
  bottom: 128.81px;
  left: 2px;
  right: 4px;
  top: 676.19px;
  width: 1275px;
  height: 98px;
  overflow: hidden;
}

.bottom-box-links {
  width: 1280px;
  height: 98px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.bottom-box-wrapper {
  width: max-content;
  display: inline-flex;
  white-space: nowrap;
  animation: scroll 50s linear infinite;
  animation-delay: -1s;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.review-box {
  height: 40px;
  width: 128px;
  border-radius: 20px;
  background-color: rgba(250, 168, 54, 0.15);
  text-align: center;
  line-height: 40px;
}
.gold-box {
  display: flex;
  height: 40px;
  align-items: center;
  width: 128px;
  border-radius: 20px;
  background: rgba(250, 168, 54, 1, 0.15);
  text-align: center;
  line-height: 40px;
  gap: 9px;
  mix-blend-mode: normal;
}
.icons-buttons {
  display: inline-block;
  width: 20px;
  height: 19px;
  margin-left: 15px;
}
.review-text-gold {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 40px;
  color: #FFBE1D;
}
.blue-box {
  display: flex;
  height: 40px;
  align-items: center;
  width: 128px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  gap: 10.76px;
  background-color: rgba(0, 135, 226, 0.15);
  mix-blend-mode: normal;
}
.review-text-blue {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 40px;
  color: #0087E2;
}
.chat-box {
  display: flex;
  height: 40px;
  align-items: center;
  width: 128px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  gap: 8.87px;
  background-color: rgba(14, 108, 160, 0.15);
  mix-blend-mode: normal;
}
.review-text-chat {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 40px;
  color: #0E6CA0;
}
.campaign {
  display: flex;
  height: 40px;
  align-items: center;
  width: 154.79px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  gap: 8.87px;
  background-color: rgba(24, 82, 125, 0.15);
  mix-blend-mode: normal;
}
.review-text-campaign {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 40px;
  color: #18527D;
}
.campaign {
  display: flex;
  height: 40px;
  align-items: center;
  width: 154.79px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  gap: 10.84px;
  background-color: rgba(24, 82, 125, 0.15);
  mix-blend-mode: normal;
}
.review-text-campaign {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 40px;
  color: #18527D;
}
.ticket {
  display: flex;
  height: 40px;
  align-items: center;
  width: 128px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  gap: 8.87px;
  background-color: rgba(16, 50, 84, 0.15);
  mix-blend-mode: normal;
}
.review-text-ticket {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 40px;
  color: #103254;
}
.track {
  display: flex;
  height: 40px;
  align-items: center;
  width: 128px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  gap: 11px;
  background-color: rgba(0, 180, 229, 0.15);
  mix-blend-mode: normal;
}
.review-text-track {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 40px;
  color: #00B4E5;
}
.analytics {
  display: flex;
  height: 40px;
  align-items: center;
  width: 147.02px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  gap: 11px;
  background-color: rgba(24, 82, 125, 0.15);
  mix-blend-mode: normal;
}
.review-text-analytics {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 40px;
  color: #18527D;
}


